@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100vw;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans";
}

section {
  padding: 25px 5%;
}

a {
  color: white;
  text-decoration: none;
}

.button-hover {
  display: inline-block;
  cursor: pointer;
}

.button-hover .button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f97794;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 2.5em;
}

.button-hover .button .button-txt {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  word-spacing: 3px;
}

input {
  cursor: pointer;
}

.btn-talk {
  min-width: 220px;
}

.pink-underline {
  border-bottom: 2px solid #f97794;
  display: block;
  margin-top: 15px;
  width: 140px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

button,
button :focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: none !important;
  border: none;
  outline: none;
}

@media (min-width: 992px) {
  section {
    padding: 40px 8%;
  }
}

.hidden-menu {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 10;
  width: 85%;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
}

.hidden-menu :hover {
  background-color: #f97793;
  color: white;
}

.hidden-menu .hidden-menu_item {
  min-height: 35px;
  padding: 10px 20px;
}

.hidden-menu a {
  color: black;
}

.menu1 {
  position: absolute;
  right: 0;
  top: 50%;
}

.menu2 {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
}

.hero-img {
  background-image: url("assets/main_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.hero-img-fg {
  height: 100%;
  width: 100%;
  background-color: #3d6c924b;
  z-index: 0;
}

@media (max-height: 600px) {
  .hero-img {
    min-height: 600px;
  }
}

.navigation {
  position: relative;
  padding-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.lg-nav {
  display: none;
}

.hero-headings__box {
  margin-top: 90px;
}

.hero-heading {
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 5%;
}

.sub-heading {
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
  margin-bottom: 8%;
}

@media (min-width: 992px) {
  .nav-hamburger__icon {
    display: none;
  }
  .lg-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lg-nav .lg-nav_item {
    margin-left: 25px;
    color: #fff;
    border-bottom: 2px solid rgba(255, 105, 180, 0);
  }
  .lg-nav :hover {
    border-bottom: 3px solid hotpink;
  }
  .lg-nav > * :hover {
    border: none;
  }
  .lg-nav_item > h4 {
    padding: 7px 0;
  }
  .navigation {
    padding-top: 0;
  }
  .hero-headings__box {
    margin-top: 20vh;
  }
  .hero-heading {
    font-size: 80px;
    line-height: 76px;
    margin-bottom: 0.3em;
    max-width: 768px;
    font-weight: 800;
  }
  .sub-heading {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 2em;
  }
}

.content {
  padding-top: 25px;
  text-align: center;
}

.content-head {
  font-size: 30px;
  margin-top: 5px;
}

.content-sub {
  text-align: center;
  color: #445a64;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 15px;
  padding-bottom: 10px;
  max-width: 650px;
}

.services {
  background-color: #ffffff;
  width: 100%;
  outline: 1px solid silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 55px;
  padding: 0 5%;
  margin: 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.services .services-sub_head {
  font-weight: 400;
  display: none;
}

.services .services-img {
  display: none;
  position: absolute;
  z-index: 10;
  top: 30px;
}

.services .services-micro {
  top: 35px;
}

.services .services-round__bg {
  position: absolute;
  top: 20px;
  width: 0px;
  height: 80px;
  border-radius: 50%;
  display: none;
}

.services .services-web__bg {
  background-color: rgba(255, 105, 180, 0.493);
}

.services .services-mobile__bg {
  background-color: rgba(248, 193, 220, 0.493);
}

.services .services-cloud__bg {
  background-color: rgba(146, 182, 202, 0.493);
}

.services .services-idea__bg {
  background-color: rgba(231, 230, 172, 0.493);
}

.services .services-mvp__bg {
  background-color: rgba(154, 178, 201, 0.493);
}

.services .services-iot__bg {
  background-color: rgba(127, 136, 151, 0.493);
}

.services .services-heading {
  font-size: 18px;
  line-height: 21px;
}

.services.active .services-sub_head {
  display: block;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 22px;
  color: #445a64;
}

.services.active .services-img {
  display: block;
}

.services.active .services-round__bg {
  display: inline-block;
}

.services.active .services-icon__down {
  display: none;
}

.services.active .services-icon__up {
  display: inline-block;
}

.services.active .services-heading {
  padding-top: 80px;
  padding-bottom: 15px;
}

.services-icon__down {
  position: absolute;
  top: 25px;
  right: 15px;
}

.services-icon__up {
  position: absolute;
  top: 25px;
  right: 15px;
  display: none;
}

.services-grid {
  display: none;
  cursor: pointer;
}

@media (min-width: 992px) {
  .services-btn__group {
    display: none;
  }
  .services-icon {
    display: none;
  }
  .services-grid {
    display: -ms-grid;
    display: grid;
    gap: 25px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .services-grid :hover {
    outline: 2px solid rgba(233, 148, 191, 0);
    -webkit-box-shadow: 0 0 10px #e63fc1;
            box-shadow: 0 0 10px #e63fc1;
  }
  .services-grid > * :hover {
    outline: 1px solid rgba(255, 0, 0, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .services-grid__item {
    outline: 3px solid rgba(255, 108, 182, 0);
    margin-top: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 35px;
  }
  .services-grid__item h3 {
    color: #263238;
    font-size: 18px;
    line-height: 76px;
  }
  .services-grid__item h5 {
    color: #445a64;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .services-grid__item .services-grid__item-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    min-height: 45px;
  }
  .services-grid__item .services-grid__item-img img {
    position: absolute;
    z-index: 10;
  }
  .services-grid__item .xxx {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
  }
  .services-grid__item .x1 {
    background-color: rgba(255, 105, 180, 0.493);
  }
  .services-grid__item .x2 {
    background-color: rgba(248, 193, 220, 0.493);
  }
  .services-grid__item .x3 {
    background-color: rgba(146, 182, 202, 0.493);
  }
  .services-grid__item .x4 {
    background-color: rgba(231, 230, 172, 0.493);
  }
  .services-grid__item .x5 {
    background-color: rgba(154, 178, 201, 0.493);
  }
  .services-grid__item .x6 {
    background-color: rgba(127, 136, 151, 0.493);
  }
}

.why-micro {
  margin-top: 25px;
}

.why {
  padding-left: 50px;
  position: relative;
  margin-top: 15px;
}

.why-img {
  position: absolute;
  left: 0;
}

.why-head {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 10px;
}

.why-sub {
  color: #445a64;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

@media (min-width: 992px) {
  .why-grid {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .why {
    padding: 10px;
  }
  .why .why-img {
    position: static;
  }
  .why .why-head {
    margin-top: 15px;
  }
}

.radio-btn {
  display: none;
}

.label-item {
  border: 2px solid hotpink;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.pro1 {
  -webkit-transition: 1s;
  transition: 1s;
}

#profo1:checked ~ .pro1 {
  margin-left: 0;
}

#profo2:checked ~ .pro1 {
  margin-left: -100%;
}

#profo3:checked ~ .pro1 {
  margin-left: -200%;
}

.label-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.label-group :hover {
  background-color: hotpink;
}

.profolio-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.profolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5%;
  min-width: 100%;
}

.profolio > * {
  cursor: pointer;
}

.ppp {
  left: 0;
  top: 0;
  position: absolute;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(82, 82, 82, 0);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 991px) {
  .ppp {
    display: none;
  }
}

.profolio-img {
  background-image: url("assets/daily.jpg");
  background-position: center;
  background-size: cover;
  border: 1px solid silver;
  border-radius: 5px;
  margin-top: 7px;
  width: 100%;
  height: 60vw;
  position: relative;
}

.profolio-img :hover {
  color: white;
  background-color: rgba(32, 32, 32, 0.568);
}

.profolio-img > * :hover {
  background-color: rgba(255, 255, 255, 0);
}

@media (min-width: 992px) {
  #profo-hide {
    display: none;
  }
  .profolio {
    height: 300px;
    min-width: 31%;
    margin-left: 2%;
    padding: 0;
  }
  #profo1:checked ~ .pro1 {
    margin-left: 2%;
  }
  #profo2:checked ~ .pro1 {
    margin-left: -98%;
  }
  #profo3:checked ~ .pro1 {
    margin-left: 0;
  }
  .pro1 {
    transition: -150%;
  }
}

.stack {
  margin-bottom: 25px;
}

.stack-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.stack-logos > * {
  cursor: pointer;
}

.stack-logos :hover {
  outline: 2px solid #ff57ab;
  -webkit-box-shadow: 0 0 3px;
          box-shadow: 0 0 3px;
}

.stack-logos > * :hover {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.stack-logo > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.stack-logos__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stack-logo__img {
  max-width: 40px;
  padding-bottom: 15px;
}

.logo-name {
  color: #263238;
  font-size: 12.47px;
  line-height: 16.99px;
  text-align: center;
}

@media (min-width: 992px) {
  .stack-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stack {
    text-align: center;
  }
  .stack .stack-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stack .stack-logos .stack-logos__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 10px 5px;
  }
}

.section-pink {
  background-color: #f97794;
  padding: 5%;
}

.section-pink__group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 15px;
}

.section-pink__item {
  border: 1px dotted white;
  border-radius: 10px;
  height: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-pink__item .section-pink__img {
  margin-top: 30px;
}

.section-pink__item .section-pink__head {
  font-size: 26px;
  color: #ffffff;
  margin-top: 10px;
  font-weight: 500;
}

.section-pink__item .section-pink__sub {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 7px;
}

@media (min-width: 992px) {
  .section-pink {
    padding: 6% 8%;
  }
  .section-pink__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-pink__group > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

.two-people {
  display: none;
}

@media (min-width: 992px) {
  .two-people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .two-people .people {
    max-width: 48%;
    padding: 25px 20px;
    -webkit-box-shadow: 0 0 5px #cacaca;
            box-shadow: 0 0 5px #cacaca;
    border-radius: 10px;
  }
  .two-people .people .people-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .two-people .people .people-top .people-img {
    border-radius: 50%;
    background-color: #cbcbcc;
    max-width: 20%;
    overflow: hidden;
    margin: 0 25px 0 0;
  }
  .two-people .people .people-top .people-img img {
    max-width: 100%;
  }
  .two-people .people .people-top .people-role {
    max-width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 80px;
  }
  .two-people .people .people-top .people-role h3 {
    font-size: 22px;
    line-height: 40px;
    color: #424242;
  }
  .two-people .people .people-top .people-role h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #858585;
  }
  .two-people .people .people-bot {
    margin-top: 15px;
  }
  .two-people .people .people-bot .people-msg {
    color: gray;
    font-size: 14px;
  }
}

.core-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 992px) {
  .core-team {
    min-width: 50%;
    padding: 5%;
  }
}

.core-btn {
  display: none;
}

.core-team-1 {
  -webkit-transition: 1s;
  transition: 1s;
}

#core1:checked ~ .core-team-1 {
  margin-left: 0;
}

#core2:checked ~ .core-team-1 {
  margin-left: -100%;
}

#core3:checked ~ .core-team-1 {
  margin-left: -200%;
}

#core4:checked ~ .core-team-1 {
  margin-left: -250%;
}

.label-group_core {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.label-group_core :hover {
  background-color: hotpink;
}

.label-group_core .label-core {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid hotpink;
  margin-left: 10px;
}

.core-team__container {
  background-color: rgba(238, 238, 238, 0.199);
  padding-bottom: 7%;
}

.core-team__item {
  max-width: 45vw;
  text-align: center;
}

.core-team__img {
  width: 100%;
  border: 1px solid gray;
}

.core-team__head {
  color: #414647;
}

.core-team__sub {
  font-size: 14px;
  color: #424c52;
  font-weight: 400;
  padding: 6px 0 10px 0;
}

@media (min-width: 992px) {
  .core-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .core-team {
    margin: 0 1%;
    min-width: 23%;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    cursor: pointer;
  }
  #core1:checked ~ .core-team-1 {
    margin-left: 0;
  }
  #core2:checked ~ .core-team-1 {
    margin-left: -75%;
  }
  #core3:checked ~ .core-team-1 {
    margin-left: -50%;
  }
  #core4:checked ~ .core-team-1 {
    margin-left: -75%;
  }
  .core-team-1 {
    -webkit-transition: 0;
    transition: 0;
  }
  #core3-hide {
    display: none;
  }
  #core4-hide {
    display: none;
  }
}

.blog-btn {
  display: none;
}

.blog-lable__group {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-lable__group :hover {
  background-color: hotpink;
}

.blog-lable__group .blog-label__item {
  margin: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid hotpink;
}

.blog-item1 {
  -webkit-transition: 1s;
  transition: 1s;
}

#blog1:checked ~ .blog-item1 {
  margin-left: 0;
}

#blog2:checked ~ .blog-item1 {
  margin-left: -100%;
}

#blog3:checked ~ .blog-item1 {
  margin-left: -200%;
}

.blog-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.blog-item {
  border-radius: 3%;
  overflow: hidden;
  text-align: center;
  min-width: 100%;
}

.blog-item > * {
  cursor: pointer;
}

.blog-img img {
  min-width: 90%;
}

.blog-date {
  font-weight: 400;
}

.blog-head {
  font-size: 18px;
  line-height: 25px;
  color: #2f281e;
}

.blog-icons {
  color: #a1a1a1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  .blog-item {
    min-width: 33%;
  }
  .blog-item1 {
    -webkit-transition: 0;
    transition: 0;
  }
  #blog1:checked ~ .blog-item1 {
    margin-left: 0;
  }
  #blog2:checked ~ .blog-item1 {
    margin-left: 0;
  }
  #blog3:checked ~ .blog-item1 {
    margin-left: 0;
  }
  .blog-label__item {
    display: none;
  }
}

.form-bg {
  background-color: rgba(175, 227, 230, 0.158);
  padding-bottom: 7%;
}

.connect-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.connect-icons-head {
  padding-top: 5px;
}

.connect-icons-sub {
  padding-top: 6px;
  color: hotpink;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form > * {
  border-radius: 30px;
  min-height: 45px;
}

.contact-form textarea {
  padding: 10px 15px;
}

.contact-form input,
.contact-form textarea {
  margin-top: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 15px;
  border: 1px solid silver;
  outline: none !important;
}

.button-message {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 15px;
}

@media (min-width: 992px) {
  .connect-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .connect-icons {
    min-width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .connect-icons .connect-icons-item {
    padding: 10px;
  }
  .contact-form {
    padding: 0 25px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-form .inp-1 {
    width: 49%;
  }
  .contact-form .inp-2 {
    width: 100%;
  }
  .contact-form .center {
    margin-left: 0;
  }
}

.icon-group__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-group__footer img {
  padding: 0 5px;
}

.insta-head {
  text-align: center;
  padding-top: 16px;
}

.insta-img__grid {
  max-width: 80%;
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 5px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.insta-img__grid > * {
  overflow: hidden;
}

.insta-img__grid_item img {
  max-width: 100%;
}

.insta-up_arrow_bg {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  color: white;
  background-color: #fa8fc5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 8px rgba(63, 63, 63, 0.555);
          box-shadow: 0 0 8px rgba(63, 63, 63, 0.555);
}

#scroll {
  display: none;
}

footer {
  padding-bottom: 0;
}

.footer-text {
  color: #4b4b4b;
  font-weight: 400;
  font-size: 13px;
  line-height: 17.7px;
  text-align: center;
}

.orange {
  color: #f56500;
}

.footer-2 {
  padding-top: 15px;
}

.footer-2 .footer-text {
  text-align: center;
}

.footer-2 .footer-text > * {
  margin-right: 15px;
}

@media (min-width: 992px) {
  .footer-container {
    padding: 0 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-container .pink-underline {
    display: none;
  }
  .footer-container .icon-group__footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-container .content {
    text-align: left;
    padding: 0;
  }
  .footer-container .content-head {
    margin-top: 0;
  }
  .footer-container .content-sub {
    text-align: left;
    margin-top: 15px;
    margin-left: 0;
    padding-bottom: 10px;
    max-width: 450px;
  }
  .footer-container__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .insta-head {
    text-align: left;
    padding: 0;
  }
  .insta-img__grid {
    max-width: 100%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .footer-group {
    padding: 25px 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 45px;
    border-top: 1px solid rgba(223, 223, 223, 0.603);
  }
}

.services-bg {
  background-image: url("assets/BG/bg-1.svg");
  background-repeat: no-repeat;
  background-position: center bottom -120px;
  background-size: 400%;
  padding-bottom: 70px;
}

.profolio-bg {
  background-image: url("assets/BG/bg-2.svg");
  background-size: 400%;
  background-repeat: no-repeat;
  background-position: center top -20px;
  padding: 0;
}

@media (min-width: 992px) {
  .services-bg {
    background-image: url("assets/BG/bg-1.svg");
    background-size: 100%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }
  .profolio-bg {
    background-image: url("assets/BG/bg-2.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0 8%;
  }
}

.bbb {
  background-color: hotpink;
}
/*# sourceMappingURL=main.css.map */